.header {
  background-color: var(--gray-800);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.24rem 0;
}

.header img {
  width: 4.1rem;
  height: 3.9rem;
}

.header strong {
  font-size: 1.7rem;
  margin-left: 1rem;
}
